<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>{{ application.first_name }} {{ application.last_name }}</h1>
      <h2>Izeni Job Application</h2>
      <label for="complete">
        All information on this application is accurate; application is complete
        <input id="complete" ng-model="application.complete" type="checkbox" style="margin:0;" ng-change="complete()">
      </label>
      <div>
        <div style="text-align: center; padding: 5px;">
          <span ng-repeat="section in sections">
            <span ng-class="{true: 'current-section', false: 'section-list'}[section == currentSection]">{{ section }}</span>
          </span>
        </div>
        <div ng-if="showErrors" class="alert alert-danger">
          <div ng-repeat="(key, error) in errorSaving track by key">
            {{ error }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <i style="font-size: 50px" class="fa fa-arrow-left" title="Previous Section" ng-click="previousSection()"></i>
    </div>
    <div class="span8">
      <ng-form name="giantForm" class="form-horizontal">
        <div ng-switch="currentSection">
          <div ng-switch-default>
            <h3>General Information</h3>
            <div class="control-group">
              <label class="control-label" for="first-name">Name</label>
              <div class="controls">
                <input id="first-name" type="text" class="input-small" ng-model="application.first_name" title="First Name" required>
                <input type="text" class="input-small" ng-model="application.last_name" title="Last Name" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="degree">Degree</label>
              <div class="controls">
                <select id="degree" ng-model="application.degree" ng-options="c[0] as c[1] for c in degreeChoices">
                  <option selected value=''>---Choose your Degree---</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="credits">Completed Credits</label>
              <div class="controls">
                <input id="credits" type="number" ng-model="application.completed_credits">
              </div>
            </div>
          </div>
          <div ng-switch-when="contact">
            <div class="span6">
              <div class="row-fluid">
                <h3>Contact Information</h3>
                <div class="control-group">
                  <label class="control-label" for="email">Email</label>
                  <div class="controls">
                    <input id="email" type="email" ng-model="application.email">
                  </div>
                </div>
                <div ng-repeat="phone in application.applicant_phones | orderBy:'id'">
                  <div class="control-group">
                    <label class="control-label" for="phone-number">
                    <span ng-if="phone.create" class="x-out" title="Remove" ng-click="removeInfo('applicant_phones', phone)">&times;
                    </span> Phone Number</label>
                    <div class="controls">
                      <input id="phone-number" type="text" class="input-small" ng-model="phone.number" required>
                      <input type="text" class="input-small" ng-model="phone.extension" placeholder="Ext.">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="phone-type">Phone Type</label>
                    <div class="controls">
                      <select id="phone-type" class="input-medium" ng-model="phone.phone_type" ng-options="p[0] as p[1] for p in phoneTypes">
                        <option selected value="">---Default: Cell---</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="controls" ng-if="application.applicant_phones.length < 2">
                  <button class="btn btn-primary" ng-click="addInfo('applicant_phones')">Add Phone Number</button>
                </div>
                <div class="control-group">
                  <label class="control-label" for="newsletter">Sign Up for Newsletter</label>
                  <div class="controls">
                    <input id="newsletter" type="checkbox" ng-model="application.newsletter">
                  </div>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="row-fluid">
                <h3>Social Media</h3>
                <div class="control-group">
                  <label class="control-label" for="github">GitHub Account</label>
                  <div class="controls">
                    <input id="github" type="url" ng-model="application.git_hub_account" placeholder="http://github.com/foobar" pattern="http:\/\/(www\.|)github\.com\/[0-9a-zA-Z\.]+">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="linkedin">Linkedin Account</label>
                  <div class="controls">
                    <input id="linkedin" type="url" ng-model="application.linkedin_account" placeholder="http://linkedin.com/in/foobar" pattern="http:\/\/(www\.|)linkedin\.com\/in\/[0-9a-zA-Z\.]+">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="twitter">Twitter Account</label>
                  <div class="controls">
                    <input id="twitter" type="url" ng-model="application.twitter_account" placeholder="http://twitter.com/foobar" pattern="http:\/\/(www\.|)twitter\.com\/[0-9a-zA-Z\.]+">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="facebook">Facebook Account</label>
                  <div class="controls">
                    <input id="facebook" type="url" ng-model="application.facebook_account" placeholder="http://facebook.com/user.name" pattern="http:\/\/(www\.|)facebook\.com\/[0-9a-zA-Z\.]+">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-switch-when="position">
            <h3>Position Details</h3>
            <div class="control-group">
              <label class="control-label" for="position">Position</label>
              <div class="controls">
                <select id="position" ng-model="application.job" ng-options="j['id'] as j['title'] for j in jobs">
                  <option selected value=''>---Desired Position---</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="related-jobs">Email Me Related Job Offers</label>
              <div class="controls">
                <input id="related-jobs" type="checkbox" ng-model="application.email_related_jobs">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="position-type">Position Type</label>
              <div class="controls">
                <select id="position-type" ng-model="application.position_type" ng-options="c[0] as c[1] for c in positionTypeChoices">
                  <option selected value=''>---Desired Position Type---</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="hours">Weekly Hours</label>
              <div class="controls">
                <input id="hours" type="number" ng-model="application.weekly_hours">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="hourly-rate">Hourly Rate</label>
              <div class="controls">
                <input id="hourly-rate" type="number" step="any" min=0 ng-model="application.hourly_rate">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="date-available">Available On</label>
              <div class="controls">
                <input id="date-available" type="date" ng-model="application.available_on">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="currently-employed">Currently Employed</label>
              <div class="controls">
                <input id="currently-employed" type="checkbox" ng-model="application.currently_employed">
              </div>
            </div>
          </div>
          <div ng-switch-when="documents">
            <h3>My Documents</h3>
            <div ng-repeat="document in application.documents | orderBy:'id'">
              <div class="control-group">
                <label class="control-label" for="title">
                  <span ng-if="document.create" class="x-out" title="Remove" ng-click="removeInfo('documents', document)">&times;
                  </span> Title
                </label>
                <div class="controls">
                  <input id="title" type="text" ng-disabled="!document.create" ng-model="document.title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="document">Document</label>
                <div class="controls" ng-if="document.document == undefined">
                  <input type="file" ng-model="document.document" id="document" file-upload required>
                  <ul>
                    <li ng-repeat="file in files">{{ file.name }}</li>
                  </ul>
                </div>
                <div class="controls" ng-if="document.document" style="padding-top: 5px;">
                  <a href="/media/{{ document.document }}" target="_blank"><span>{{ document.document }}</span></a>
                </div>
              </div>
              <div class="control-group">
                <div class="controls" ng-if="!document.create">
                  <button class="btn btn-danger" ng-click="deleteDocument(document)" ng-disabled="document.warnings">Delete</button>
                </div>
              </div>
              <hr>
            </div>
            <div class="control-group">
              <div class="controls" ng-if="application.documents.length < 3">
                <button class="btn btn-primary" ng-click="addInfo('documents')">Add Document</button>
              </div>
            </div>
          </div>
          <div ng-switch-when="skills">
            <h3>My Skills</h3>
            <div ng-repeat="skill in application.skills | orderBy:'id'">
              <div class="control-group">
                <label class="control-label" for="category"><span ng-if="skill.create" class="x-out" title="Remove" ng-click="removeInfo('skills', skill)">&times;</span> Category</label>
                <div class="controls">
                  <select id="category" ng-model="skill.tech.cat" ng-options="c.id as c.title for c in categories" required>
                    <option selected value=''>---Select Category---</option>
                  </select>
                </div>
              </div>
              <div ng-if="skill.tech.cat" class="control-group" ng-class="{'has-error': skill.errors, 'warning': skill.warnings}">
                <label class="control-label" for="tech">Technology</label>
                <div class="controls">
                  <select id="tech" ng-model="skill.tech.id" ng-options="technology.id as technology.title for technology in technologies | filter:{cat: skill.tech.cat}" ng-change="usedTech(skill)" required>
                    <option selected value=''>---Select Technology---</option>
                  </select>
                  <span class="help-inline" ng-show="skill.errors || skill.warnings">
                    {{ skill.errors }}
                    {{ skill.warnings }}
                  </span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="self-rating">Rate Yourself</label>
                <div class="controls">
                  <input id="self-rating" type="number" ng-model="skill.skill_level_claim" min=1 max=10 placeholder="1 - 10">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="years-experience" >Years Experience</label>
                <div class="controls">
                  <input id="years-experience" type="number" step="any" ng-model="skill.years_of_experience" min=0 placeholder="Max 1 decimal place">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="my-experience">Describe Experience</label>
                <div class="controls">
                  <textarea id="my-experience" ng-model="skill.described_experience" class="experience" rows="6"></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-danger" ng-click="deleteSkill(skill)" ng-disabled="skill.warnings">Delete</button>
                </div>
              </div>
              <hr>
            </div>
            <div class="control-group">
              <div class="controls" ng-if="application.skills.length < technologies.length">
                <button class="btn btn-primary" ng-click="addInfo('skills')">Add Skill</button>
              </div>
            </div>
          </div>
          <div ng-switch-when="extra">
            <h3>Extra Information</h3>
            <div class="control-group">
              <label class="control-label" for="other">Other Relevant Experience</label>
              <div class="controls">
                <textarea id="other" ng-model="application.other_related_tech" class="big-textarea"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="goals">My Goals</label>
              <div class="controls">
                <textarea id="goals" ng-model="application.goals" class="big-textarea"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="comments">Comments</label>
              <div class="controls">
                <textarea id="comments" ng-model="application.comments" class="big-textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
      </ng-form>
    </div>
    <div class="span2">
      <i style="font-size: 50px" class="fa fa-arrow-right pull-right" title="Next Section" ng-click="nextSection()"></i>
    </div>
  </div>
</div>