<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="span2" style="vertical-align:middle;">Opportunity Name</th>
          <th class="span2" style="text-align:center; vertical-align:middle;">Est. Revenue</th>
          <th class="span2" style="text-align:center; vertical-align:middle;">Closing Probability</th>
          <th class="span2" style="vertical-align:middle;">Shared Documents</th>
          <th class="span2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="opportunity in account.opportunities | orderBy:'name'">
          <td>{{ opportunity.name }}</td>
          <td style="text-align:center;">{{ opportunity.estimated_revenue | currency }}</td>
          <td style="text-align:center;">{{ opportunity.closing_probability }}%</td>
          <td>
            <ul style="list-style:none; margin-left:0;">
              <li ng-repeat="shared in opportunity.shared">{{ shared.shared_document }}</li>
            </ul>
          </td>
          <td style="text-align:center; vertical-align:middle;">
            <i class="icon-edit" ng-click="addOrUpdateOpportunity(opportunity)" title="Update Opportunity" style="font-size:15pt; color:#006633; cursor:pointer;"></i>
            <i class="icon-remove" ng-click="removeOpportunity(opportunity)" title="Remove Opportunity" style="font-size:15pt; color:#CC0000; cursor:pointer;"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="offset4 span4">
        <button class="btn btn-primary btn-block" ng-click="addOrUpdateOpportunity()">Add Opportunity</button>
      </div>
    </div>
  </div>
</div>
