<div class="row-fluid">
  <div class="span12">
    <h3>{{ segment.title }}</h3>
    <h6 ng-if="segment.summary">{{ segment.summary }}</h6>
  </div>
</div>
<div class="row-fluid" style="width:896px; height:504px; margin:0 auto;">
  <div class="span12">
    <video-js id="{{ segment.id }}" ng-src="segment.video_chapter_file" width="896" height="504" start="{{ start }}" class="video-js vjs-default-skin vjs-big-play-centered" controls autoplay preload="auto"></video-js>
  </div>
</div>
<div class="row-fluid">
  <div class="span7" style="text-align:center;">
    <div class="row-fluid">
      <div class="span6">
        <p>
          <strong>Rating</strong>
          <span>
            <rating value="rating.value" max="rating.max" on-hover="ratingHover(value)" on-leave="rating.overStar = null" ng-click="setRating(rating.value)"></rating>
          </span>
        </p>
      </div>
      <div class="span6">
        <p>
          <strong>Recommend video</strong>
          <i class="fa fa-thumbs-o-up" style="cursor:pointer;" ng-click="recommendVideo()"></i>
        </p>
      </div>
    </div>
    <h4>Comments</h4>
    <div class="row-fluid" ng-repeat="comment in segment.comments | orderBy:'-date_created'">
      <div class="span3">
        <gravatar email="{{ comment.employee.employee_email }}" default-image="{{ comment.employee.image }}" size="100"></gravatar>
        <a href="">{{ comment.employee.first_name }} {{ comment.employee.last_name }}</a>
      </div>
      <div class="span9">
        <p style="text-align:left; padding:0; margin:0;">
          {{ comment.body }}
        </p>
        <div class="row-fluid" ng-if="user.employee.id == comment.employee.id">
          <div class="span3 offset9" style="text-align:right; font-size:9pt;">
            <a href="" ng-click="editComment(comment)">edit</a> | <a href="" ng-click="deleteComment(comment)">delete</a>
          </div>
        </div>
      </div>
    </div>
    <h4>Post a comment</h4>
    <textarea class="input-xxlarge" rows="5" ng-model="newComment.body" style="resize:vertical;"></textarea>
    <button class="btn btn-primary input-xlarge" ng-if="!editingComment && newComment.body" ng-click="postComment(newComment)">Post Comment</button>
    <button class="btn btn-primary input-xlarge" ng-if="!editingComment && !newComment.body" ng-click="postComment(newComment)" disabled>Post Comment</button>
    <button class="btn btn-success input-xlarge" ng-if="editingComment" ng-click="updateComment(newComment)">Update Comment</button>
  </div>
  <div class="span5">
    <div class="row-fluid">
      <div class="span12">
        <h4>Personal Notes</h4>
        <textarea ng-model="viewingVideo.personal_notes" class="input-xlarge" rows="5" ng-click="editPersonalNotes = true" style="resize:vertical;"></textarea>
        <div>
          <button class="btn btn-primary" ng-if="editPersonalNotes" ng-click="updatePersonalNotes()">Save</button>
        </div>
      </div>
    </div>
    <h4>Related Videos <i class="icon-plus" style="color:#4a777a;" ng-click="addRelatedVideo(segment)"></i></h4>
    <ul style="list-style:none;">
      <li ng-repeat="related in segment.related_video">
        <dl style="padding:0; margin:0;">
          <dt>
            <a href="#/bookshelf/video/{{ related.relevant_video_segment.video_section.video }}/?segment={{ related.relevant_video_segment.id }}" target="_blank">
              {{ related.relevant_video_segment.title }}
            </a>
          </dt>
          <dd>{{ related.note }}</dd>
        </dl>
      </li>
    </ul>
    <h4>Related Book Chapters <i class="icon-plus" style="color:#4a777a;" ng-click="addRelatedChapter(segment)"></i></h4>
    <ul style="list-style:none;">
      <li ng-repeat="related in segment.related_books">
        <dl style="padding:0; margin:0;">
          <dt><a href="#/bookshelf/book/{{ related.book_chapter.book }}/" target="_blank">{{ related.book_chapter.chapter_title }}</a></dt>
          <dd>{{ related.note }}</dd>
        </dl>
      </li>
    </ul>
    <h4>External Resources <i class="icon-plus" style="color:#4a777a;" ng-click="addExternalResource(segment)"></i></h4>
    <ul style="list-style:none;">
      <li ng-repeat="external in segment.external_sources">
        <dl style="padding:0; margin:0;">
          <dt><a href="{{ external.external_source.link }}" title="By: {{ external.external_source.by }}" target="_blank">{{ external.external_source.title }}</a></dt>
          <dd>{{ external.note }}</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
