<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12" style="font-size:10pt;">
        <h5 style="padding:0; margin:0;" ng-if="!editing.status"><i class="icon-edit" ng-click="editStatus()" title="Edit Status"></i> Status</h5>
        <h5 style="padding:0; margin:0;" ng-if="editing.status">Status <i class="icon-ok" ng-click="saveStatus(account.statusCopy)" title="Save Status"></i> <i class="icon-remove" ng-click="editStatus()" title="Cancel"></i></h5>
        <hr style="padding:0; margin: 0 0 5px 0;">
        <div ng-if="!editing.status">
          <p style="margin:0;"><b>Communication Level:</b> {{ account.communication_level.upper || 'N/A' }}</p>
          <p style="margin:0;"><b>Share Level:</b> {{ account.share_level.upper || 'N/A' }}</p>
          <p style="margin:0;"><b>Priority:</b> {{ account.priority.upper || 'N/A' }}</p>
        </div>
        <div ng-if="editing.status">
          <ng-form class="form-horizontal">
            <div class="control-group">
              <div class="control-label">
                Communication Level
              </div>
              <div class="controls">
                <select ng-model="account.statusCopy.communication_level" ng-options="c[0] as c[1] for c in statusChoices"></select>
              </div>
            </div>
            <div class="control-group">
              <div class="control-label">
                Share Level
              </div>
              <div class="controls">
                <select ng-model="account.statusCopy.share_level" ng-options="c[0] as c[1] for c in statusChoices"></select>
              </div>
            </div>
            <div class="control-group">
              <div class="control-label">
                Priority Level
              </div>
              <div class="controls">
                <select ng-model="account.statusCopy.priority" ng-options="c[0] as c[1] for c in statusChoices"></select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-primary btn-mini" ng-click="saveStatus(account.statusCopy)">Save</button>
                <button class="btn btn-warning btn-mini" ng-click="editStatus()">Cancel</button>
              </div>
            </div>
          </ng-form>
        </div>
      </div>
    </div>
    <div class="row-fluid" style="margin-top:15px;">
      <div class="span12" style="font-size:10pt;">
        <h5 style="padding:0; margin:0;">
          <span ng-if="!editing.website">
            <i class="fa fa-edit" ng-click="editWebsite()" title="Edit Website" style="cursor:pointer;"></i>
          </span>
          Company Website
        </h5>
        <hr style="padding:0; margin: 0 0 5px 0;">
        <span ng-if="!editing.website && account.website">
          <a href="{{ account.website }}" target="_blank">{{ account.website }}</a>
        </span>
        <span ng-if="!editing.website && !account.website">
          N/A
        </span>
        <ng-form class="form-inline" name="websiteForm" ng-if="editing.website">
          <input ng-if="editing.website" type="url" class="input-medium" ng-model="account.websiteCopy" placeholder="http://example.com">
          <button class="btn btn-primary btn-mini" ng-click="saveWebsite(account.websiteCopy)">Save</button>
          <button class="btn btn-warning btn-mini" ng-click="editWebsite()">Cancel</button>
        </ng-form>
      </div>
    </div>
    <div class="row-fluid" style="margin-top:15px;">
      <form name="addressForm">
        <div class="span12" style="font-size:10pt;">
          <h5 style="padding:0; margin:0;">
            <span ng-if="!editing.address">
              <i class="fa fa-edit" ng-click="editAddress()" title="Edit Address" style="cursor:pointer;"></i>
            </span>
            Address
          </h5>
          <hr style="padding:0; margin: 0 0 5px 0;">
          <address ng-if="!editing.address">
            <strong>{{ account.company_name }}</strong><br>
            {{ account.street_address || 'Street Address' }}<br>
            {{ account.city || 'City' }}, {{ account.state || 'State' }} {{ account.zip_code || 'Zip Code' }}
          </address>
          <ng-form name="addressFrom" ng-if="editing.address">
            <input type="text" class="input-medium" ng-model="account.addressCopy.street_address" placeholder="Street Address"><br>
            <input type="text" class="input-small" ng-model="account.addressCopy.city" placeholder="City">
            <select class="input-small" ng-model="account.addressCopy.state" ng-options="state[0] as state[1] for state in stateChoices"></select>
            <input type="text" class="input-small" ng-model="account.addressCopy.zip_code" placeholder="Zip Code"><br>
            <button class="btn btn-primary btn-mini" ng-click="saveAddress(account.addressCopy)" ng-disabled="!addressForm.$valid">Save</button>
            <button class="btn btn-warning btn-mini" ng-click="editAddress()">Cancel</button>
          </ng-form>
        </div>
      </form>
    </div>
    <event account="account.id"></event>
    <div class="row-fluid">
      <div class="span12" style="font-size:10pt;">
        <h5 style="padding:0; margin:15px 0 0 0;">Employees</h5>
        <hr style="padding:0; margin:0 0 5px 0;">
        <div class="row-fluid" style="display:table; width:100%;">
          <div class="span2 text-center" ng-repeat="employee in account.employee">
            <gravatar email="{{ employee.employee.employee_email }}" default-image="{{ employee.employee.image }}" size="100"></gravatar>
            <p><a href="#/employee/{{ employee.employee.id }}/">{{ employee.employee.first_name }} {{ employee.employee.last_name }}</a></p>
          </div>
          <div class="span2 text-center">
            <a href="" ng-click="addEmployee()">
              <i class="fa fa-plus" style="color:#4a777a; font-size:18pt;"></i>
              <h4 style="margin-top:0px;">Add Employee</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
