<div class="row-fluid">
  <div class="span4">
    <h3>{{ application.first_name }} {{ application.last_name }}</h3>
    <label>UUID: {{ application.uuid }}</label>
  </div>
  <div class="span3">
    <h2 ng-if="!editingScore">Score: {{ application.score }} <i class="fa fa-edit" ng-click="editScore()" title="Edit Score"></i></h2>
    <h2 ng-if="editingScore"><input type="number" min="0" max="10" class="input-mini" ng-model="application.score"> <i class="fa fa-check" ng-click="saveScore()" title="Save Score"></i> <i class="fa fa-times" ng-click="editScore()" title="Cancel"></i> </h2>
    <a ui-sref="user-application({uuid: application.uuid})" target="_blank">Link to Application</a>
  </div>
  <div class="span3" style="padding-top: 14px">
    <select class="input" ng-model="application.status" ng-options="s.id as s.status for s in statuses" ng-change="update('status')">
      <option selected value>---Status---</option>
    </select>
    <label>Date Created: {{ application.date_created_on }}</label>
  </div>
  <div class="span2" style="padding-top: 14px">
    <select class="input-medium" ng-model="application.source" ng-options="s[0] as s[1] for s in sourceTypes" ng-change="update('source')">
      <option selected value>---Source---</option>
    </select>
    <button class="btn-primary btn-small"  ng-click="update('recruiter_notes')">Save Notes</button>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <form class="form-horizontal">
      <label for="notes"></label>
      <textarea id="notes" class="big-textarea" ng-model="application.recruiter_notes" placeholder="Notes"></textarea>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class=span4>
    <div class="row-fluid">
      <input type="checkbox" ng-model="application.complete" style="margin:0;" disabled> Information is complete.
      <h4>General Information</h4>
      <i class="fa fa-envelope"></i> <a href="mailto:{{ application.email }}">{{ application.email }}</a>
      <div ng-repeat="phone in application.applicant_phones | orderBy:phone_type">
        <i class="fa fa-phone"></i> {{ phone.number }} <span ng-if="phone.extension"> ext. {{ phone.extension }}</span> {{ phone.phone_type }}
      </div>
      <label class="checkbox">Send Newsletter
        <input type="checkbox" ng-model="application.newsletter" disabled>
      </label>
      <label class="checkbox">Email Related Job Offers
        <input type="checkbox" ng-model="application.email_related_jobs" disabled></label>
    </div>
    <div class="row-fluid">
      <h4>Education</h4>
      <label>Degree: {{ application.degree }}</label>
      <label>Completed Credits: {{ application.completed_credits }}</label>
    </div>
    <div class=class="row-fluid">
      <h4>Position Details</h4>
      <label>Position: {{ application.job }}</label>
      <label>Position Type: {{ application.position_type }}</label>
      <label>Weekly Hours: {{ application.weekly_hours }}</label>
      <label>Hourly Rate: {{ application.hourly_rate }}</label>
      <label>Available On: {{ application.available_on }}</label>
      <label class="checkbox">Currently Employed
        <input type="checkbox" ng-model="application.currently_employed" disabled></label>
    </div>
    <div class=class="row-fluid">
      <h4>Social Media Accounts</h4>
      <label>Github:
        <a href="{{ application.git_hub_account }}" target="_blank">
          {{ application.git_hub_account }}</a>
      </label>
      <label>Linkedin:
        <a href="{{ application.linkedin_account }}" target="_blank">
        {{ application.linkedin_account }}</a>
      </label>
      <label>Twitter:
        <a href="{{ application.twitter_account }}" target="_blank">
        {{ application.twitter_account }}</a>
      </label>
      <label>Facebook:
        <a href="{{ application.facebook_account }}" target="_blank">
        {{ application.facebook_account }}</a>
      </label>
    </div>
    <div class="row-fluid">
      <h4>Extra Information</h4>
      <label class="control-label">Other Related Tech: </label>
      <p style="white-space: pre-wrap; margin: 0">{{ application.other_related_tech }}</p>
      <label class="control-label">Goals: </label>
      <p style="white-space: pre-wrap; margin: 0">{{ application.goals }}</p>
      <label class="control-label">Comments: </label>
      <p style="white-space: pre-wrap; margin: 0">{{ application.comments }}</p>
    </div>
  </div>
  <div class="span8">
    <div class="row-fluid">
      <h4>Communication History</h4>
      <table class="table table-condensed">
        <thead>
          <tr style="text-align: left">
            <th class="span1"></th>
            <th class="span3">Contact Date</th>
            <th class="span4">Notes</th>
            <th class="span3">Follow-Up Date</th>
            <th class="span1"><button class="btn btn-mini btn-success" ng-click="editCommunication()" title="Add Communication">Add</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hist in application.applicant_history | orderBy:'-contacted_on'" style="vertical-align: top">
            <td>
              <span ng-if="hist.contact_type == 'Email'" class="label event-1">{{ hist.contact_type }}</span>
              <span ng-if="hist.contact_type == 'Text'" class="label event-3">{{ hist.contact_type }}</span>
              <span ng-if="hist.contact_type == 'Interview'" class="label event-4">{{ hist.contact_type }}</span>
              <span ng-if="hist.contact_type == 'Phone'" class="label event-5">{{ hist.contact_type }}</span>
            </td>
            <td>{{ hist.contacted_on | date:'M/d/yy h:mm a' }}</td>
            <td><p style="white-space: pre-wrap; margin: 0">{{ hist.notes }}</p></td>
            <td>{{ hist.follow_up | date:'M/d/yy h:mm a'}}</td>
            <td><button class="btn btn-mini btn-primary" ng-click="editCommunication(hist)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row-fluid">
      <h4>Applicant's Documents</h4>
      <div ng-repeat="doc in application.documents">
        {{ doc.title }}: {{ doc.description }}
        <a href="/media/{{ doc.document }}" target="_blank">{{ doc.document }}</a>
      </div>
    </div>
    <h4>Skills</h4>
    <div ng-repeat="skill in application.skills | orderBy:['tech.cat', 'tech.title']">
      <h4 ng-if="!editingVerified[skill.id]">
        Verified Rating: {{ skill.skill_level_verified || 'N/A' }}
        <i class="fa fa-edit" ng-click="editVerified(skill.id)" title="Edit Verified Rating"></i>
      </h4>
      <h4 ng-if="editingVerified[skill.id]">
        <input type="number" min="0" max="10" class="input-mini" ng-model="skill.skill_level_verified">
        <i class="fa fa-check" ng-click="saveVerified(skill)" title="Save Score"></i>
        <i class="fa fa-times" ng-click="editVerified(skill.id)" title="Cancel"></i>
      </h4>
      <label>Category: {{ skill.tech.cat }}</label>
      <label>Technology: {{ skill.tech.title }}</label>
      <label>Self Rating: {{ skill.skill_level_claim }}</label>
      <label>Years Experience: {{ skill.years_of_experience }}</label>
      <label>Experience Description: </label>{{ skill.described_experience }}
    </div>
  </div>
</div>
