<h3>Add Applications</h3>
<div class="row-fluid">
  <ng-form name="applicationForm" class="form-horizontal">
    <div ng-repeat="application in applications">
      <div class="span6">
        <div class="control-group">
          <label class="control-label" for="phone-number">
          <span class="x-out" title="Remove" ng-click="remove(application)">&times;
          </span> First Name
          </label>
          <div class="controls">
            <input type="text" ng-model="application.first_name" id="first_name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="last_name">
            Last Name
          </label>
          <div class="controls">
            <input type="text" ng-model="application.last_name" id="last_name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">
            Email
          </label>
          <div class="controls">
            <input type="email" ng-model="application.email" id="email">
          </div>
        </div>
        <hr>
      </div>
    </div>
  </ng-form>
  <div class="span12">
    <button class="btn btn-primary" ng-click="add()">Add Another Application</button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="!applicationForm.$valid || applicationForm.$pristine || applications.length == 0">Save</button>
  </div>
</div>


