<div clas="row-fluid">
  <div class="offset2 span8">
    <form ng-submit="searchFor(search)">
      <div class="input-append">
        <input ng-model="search" type="search" class="input-xxlarge">
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
  <div class="span2">
    <button class="btn btn-success pull-right" type="button" ui-sref="crm.document-add()">Add</button>
  </div>
</div>
<div class="row-fluid" ng-repeat="document in documents">
  <div class="box">
    <div class="span1">
      <img src="http://placehold.it/100x100">
    </div>
    <div class="span11">
      <h4>
        <a href="{{ document.document }}">{{ document.name }}</a>
      </h4>
      <p>{{ document.description }}</p>
    </div>
  </div>
</div>
<div class="row-fluid" ng-if="!documents.length">
  <p class="text-center">No documents</p>
</div>
<div class="row-fluid" ng-if="documents.length">
  <div class="span12">
    <pagination class="pull-right" on-select-page="changePage(page)" total-items="paginate.count" page="paginate.currentPage" items-per-page="paginate.itemsPerPage" previous-text="&laquo;" next-text="&raquo;"></pagination>
  </div>
</div>